@import './styles/theme.css';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body {
  background-color: var(--clr-page-bg);
  color: var(--clr-text);
  font-family: var(--font-base);
}