# Local dev DB
db.sqlite3

# Celery runtime
celerybeat-schedule.*

# Python cache
__pycache__/

# Coverage
htmlcov/

# Static & media files
staticfiles/
media/

# Temporary/test/migration files
migrate.load

# Database dumps / exports
db.json
prod_data.json
prod_data_clean.json
prod_data_utf8.json
sqlite_dump.sql
