PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-07-30 14:38:03.323782');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2025-07-30 14:38:03.334007');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2025-07-30 14:38:03.342193');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "management_genre" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE);
INSERT INTO management_genre VALUES(1,'Sci-Fi');
INSERT INTO management_genre VALUES(2,'Thriller');
INSERT INTO management_genre VALUES(3,'Action');
CREATE TABLE IF NOT EXISTS "management_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "date_joined" datetime NOT NULL, "is_active" bool NOT NULL, "points" integer unsigned NOT NULL CHECK ("points" >= 0), "email_verified" bool NOT NULL);
INSERT INTO management_user VALUES(1,'pbkdf2_sha256$1000000$lPEA1fwdkaDBU9hEqK9Ml1$dtemWjoBrNXCKtfuLEHJ+C4Nrm1ScDPr+xfCdsG5oqA=','2025-09-08 16:06:39.056206',1,'Dalal','','','dalal@gmail.com',1,'2025-07-30 14:39:14.858940',1,0,1);
INSERT INTO management_user VALUES(2,'pbkdf2_sha256$1000000$u7W7h3jtSYoXsYvj2IIemp$ylNfpVfJZkF9gx6jLWiBSOYFsP+oPIaqM6uRcvPcKbM=','2025-09-07 15:32:27.012729',0,'Ana','','','ana@gmail.com',0,'2025-07-30 17:11:39',1,0,1);
INSERT INTO management_user VALUES(3,'pbkdf2_sha256$1000000$fj26AgguA9wDDY9B2z0kCb$hE3QwZsurtsjZctQaFHOcCwwDGZNR6mf1mw5hb+19eQ=','2025-09-03 16:09:00.060044',0,'Harry','','','harry@gmail.com',0,'2025-08-04 17:43:18.442772',1,0,1);
CREATE TABLE IF NOT EXISTS "management_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "management_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "management_movie_genre" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "movie_id" bigint NOT NULL REFERENCES "management_movie" ("id") DEFERRABLE INITIALLY DEFERRED, "genre_id" bigint NOT NULL REFERENCES "management_genre" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO management_movie_genre VALUES(1,1,1);
INSERT INTO management_movie_genre VALUES(2,1,2);
INSERT INTO management_movie_genre VALUES(4,3,1);
CREATE TABLE IF NOT EXISTS "management_notification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "message" varchar(255) NOT NULL, "is_read" bool NOT NULL, "created_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO management_notification VALUES(1,'You''re welcome to try a new feature : notificatopns',1,'2025-07-30 15:45:44.338147',1);
INSERT INTO management_notification VALUES(2,'Your review for Inception (2010) has been deleted.',1,'2025-08-14 17:08:02.750294',2);
INSERT INTO management_notification VALUES(3,'Your review for Inception (2010) has been deleted.',1,'2025-08-14 17:08:14.981201',2);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Sci-Fi',1,'[{"added": {}}]',6,1,'2025-07-30 14:47:29.061861');
INSERT INTO django_admin_log VALUES(2,'2','Thriller',1,'[{"added": {}}]',6,1,'2025-07-30 14:47:35.015069');
INSERT INTO django_admin_log VALUES(3,'1','Inception',1,'[{"added": {}}]',8,1,'2025-07-30 14:48:11.032781');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('j5evyv6hec6l46c9uajj66cw13cg53t9','.eJxVjDsOwjAQBe_iGlnxgn-U9Jwh2s2ucQDZUpxUiLuDpRTQzsx7LzXituZxa7KMM6uzMurwywinh5Qu-I7lVvVUy7rMpHuid9v0tbI8L3v7d5Cx5X4LZCFKImLimChERpsYgjuCE2O98xyiR3DMgz11ZAQ5DREMf7fq_QH-fjg8:1uicNh:RJ4HwGsUCZJ46WYnLsND7UVMeqKj1S2OWUqTvPHNIMA','2025-08-17 17:20:21.200878');
INSERT INTO django_session VALUES('bnzr127oy1h0utdy49qxsf9c3muiv9eu','.eJxVjDsOwyAQRO9CHSEWEJ-U6XMGBMsSnEQgGbuycvfYkoukG817MxsLcV1qWAfNYcrsyiS7_HYp4ovaAfIztkfn2NsyT4kfCj_p4Pee6X073b-DGkfd11qh1BSNNz7tAY0yFnVWoDJBiloUAme9RFmcMGjJQZGAAsAqlcGzzxfW2Dc7:1uj0Rm:wPrIiii4GP7vfpIa59KBmo8rVkKL65vtqUkEuwaRwrs','2025-08-18 19:02:10.122928');
INSERT INTO django_session VALUES('dr75uumq08soy3cj85l2gxlyhimfozw7','.eJxVjMsOwiAQRf-FtSEwIy-X7vsNBBiQqoGktCvjv2uTLnR7zzn3xXzY1uq3kRc_E7swYKffLYb0yG0HdA_t1nnqbV3myHeFH3TwqVN-Xg_376CGUb-1LFZZkjIWlxIotECkQYVcMkbQIDQVcwakZIrRCKiczs4KASiELoG9P98KN0U:1uj0fQ:MEyU9RjY24b1AjvLeDkPs1Yrp4glXZLxT_hc2OwKBck','2025-08-18 19:16:16.697234');
CREATE TABLE IF NOT EXISTS "management_auditorium" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "total_seats" integer unsigned NOT NULL CHECK ("total_seats" >= 0), "available_seats" integer unsigned NOT NULL CHECK ("available_seats" >= 0), "theater_id" bigint NULL REFERENCES "management_theater" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO management_auditorium VALUES(1,'Galaxy Hall',200,180,2);
INSERT INTO management_auditorium VALUES(2,'Starlight Dome',150,130,1);
INSERT INTO management_auditorium VALUES(3,'Zenith Screen',100,95,2);
CREATE TABLE IF NOT EXISTS "management_seat" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "seat_number" varchar(10) NOT NULL, "is_booked" bool NOT NULL, "showtime_id" bigint NOT NULL REFERENCES "management_showtime" ("id") DEFERRABLE INITIALLY DEFERRED, "price" decimal NOT NULL);
INSERT INTO management_seat VALUES(2,'A1',0,1,30);
INSERT INTO management_seat VALUES(3,'A2',0,1,30);
INSERT INTO management_seat VALUES(4,'A3',1,1,30);
CREATE TABLE IF NOT EXISTS "management_movie_actors" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "movie_id" bigint NOT NULL REFERENCES "management_movie" ("id") DEFERRABLE INITIALLY DEFERRED, "actor_id" bigint NOT NULL REFERENCES "management_actor" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO management_movie_actors VALUES(1,1,1);
INSERT INTO management_movie_actors VALUES(2,1,2);
INSERT INTO management_movie_actors VALUES(5,3,6);
CREATE TABLE IF NOT EXISTS "management_role" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "character_name" varchar(100) NOT NULL, "actor_id" bigint NOT NULL REFERENCES "management_actor" ("id") DEFERRABLE INITIALLY DEFERRED, "movie_id" bigint NOT NULL REFERENCES "management_movie" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO management_role VALUES(2,'Harry Potter',22,11);
INSERT INTO management_role VALUES(3,'Hermione Granger',23,11);
INSERT INTO management_role VALUES(4,'Ron Weasley',24,11);
CREATE TABLE IF NOT EXISTS "management_theater" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "location" varchar(255) NOT NULL);
INSERT INTO management_theater VALUES(1,'Nova Cineplex','Moonlight District');
INSERT INTO management_theater VALUES(2,'Orion Theater','Skyline Avenue');
INSERT INTO management_theater VALUES(3,'Echo Films','Harborview Heights');
CREATE TABLE IF NOT EXISTS "management_watchlist" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "added_at" datetime NOT NULL, "movie_id" bigint NOT NULL REFERENCES "management_movie" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO management_watchlist VALUES(15,'2025-08-16 15:52:49.850685',14,1);
INSERT INTO management_watchlist VALUES(17,'2025-08-16 15:55:35.082074',20,1);
INSERT INTO management_watchlist VALUES(26,'2025-08-19 14:21:46.928889',17,3);
CREATE TABLE IF NOT EXISTS "management_actor" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date_of_birth" date NULL, "biography" text NULL, "name" varchar(100) NOT NULL UNIQUE);
INSERT INTO management_actor VALUES(1,'1974-11-11','American actor, known for ''Titanic'' and ''Inception''.','Leonardo DiCaprio');
INSERT INTO management_actor VALUES(2,'1981-02-17','American actor, known for ''Inception'' and ''500 Days of Summer''.','Joseph Gordon-Levitt');
INSERT INTO management_actor VALUES(3,'1958-10-16','American actor, known for ''Shawshank Redemption''.','Tim Robbins');
CREATE TABLE IF NOT EXISTS "management_director" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date_of_birth" date NULL, "biography" text NULL, "name" varchar(100) NOT NULL UNIQUE);
INSERT INTO management_director VALUES(1,NULL,'','Christopher Nolan');
INSERT INTO management_director VALUES(2,NULL,'','Frank Darabont');
INSERT INTO management_director VALUES(4,NULL,'','Francis Ford Coppola');
CREATE TABLE IF NOT EXISTS "management_movie" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "description" text NOT NULL, "release_date" date NOT NULL, "rating" real NOT NULL, "created_at" datetime NOT NULL, "poster" varchar(100) NULL, "trailer" varchar(200) NULL, "director_id" bigint NULL REFERENCES "management_director" ("id") DEFERRABLE INITIALLY DEFERRED, "producer_id" bigint NULL REFERENCES "management_producer" ("id") DEFERRABLE INITIALLY DEFERRED, "title" varchar(255) NOT NULL UNIQUE, "duration" bigint NULL);
INSERT INTO management_movie VALUES(1,'A skilled thief is offered a chance to have his criminal history erased if he can plant an idea into a target''s subconscious.','2010-07-16',8.800000000000000711,'2025-07-30 14:48:11.030451','posters/Inception.jpg','https://www.youtube.com/watch?v=YoHD9XEInc0',1,1,'Inception (2010)',8280000000);
INSERT INTO management_movie VALUES(3,'A team of explorers travel through a wormhole in space in an attempt to ensure humanity''s survival.','2014-11-07',8.699999999999999289,'2025-08-03 18:19:15.511725','posters/interstellar.jpg','https://www.youtube.com/watch?v=zSWdZVtXT7E',1,1,'Interstellar (2014)',10140000000);
INSERT INTO management_movie VALUES(5,'When the menace known as the Joker emerges, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.','2008-07-18',9.099999999999999645,'2025-08-03 18:24:57.315761','posters/The_Dark_Knight_2008.webp','https://www.youtube.com/watch?v=EXeTwQWrcwY',1,1,'The Dark Knight (2008)',9120000000);
CREATE TABLE IF NOT EXISTS "management_producer" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date_of_birth" date NULL, "biography" text NULL, "name" varchar(100) NOT NULL UNIQUE);
INSERT INTO management_producer VALUES(1,NULL,'','Emma Thomas');
INSERT INTO management_producer VALUES(2,NULL,'','Albert S. Ruddy');
INSERT INTO management_producer VALUES(3,NULL,'','Niki Marvin');
CREATE TABLE IF NOT EXISTS "management_showtime" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "start_time" datetime NOT NULL, "end_time" datetime NOT NULL, "is_VIP" bool NOT NULL, "thD_available" bool NOT NULL, "parking_available" bool NOT NULL, "language" varchar(50) NOT NULL, "movie_id" bigint NOT NULL REFERENCES "management_movie" ("id") DEFERRABLE INITIALLY DEFERRED, "auditorium_id" bigint NULL REFERENCES "management_auditorium" ("id") DEFERRABLE INITIALLY DEFERRED, "available_seats" integer unsigned NOT NULL CHECK ("available_seats" >= 0));
INSERT INTO management_showtime VALUES(1,'2025-08-15 11:00:00','2025-08-15 13:18:00',1,1,1,'English',1,2,126);
INSERT INTO management_showtime VALUES(2,'2025-08-19 13:00:00','2025-08-19 16:00:00',0,1,1,'English',3,4,92);
INSERT INTO management_showtime VALUES(3,'2025-08-19 18:00:00','2025-08-19 20:45:00',0,0,1,'Arabic',11,5,63);
CREATE TABLE IF NOT EXISTS "management_booking_seats" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "booking_id" bigint NOT NULL REFERENCES "management_booking" ("id") DEFERRABLE INITIALLY DEFERRED, "seat_id" bigint NOT NULL REFERENCES "management_seat" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO management_booking_seats VALUES(24,32,4);
INSERT INTO management_booking_seats VALUES(25,32,14);
INSERT INTO management_booking_seats VALUES(26,33,44);
CREATE TABLE IF NOT EXISTS "management_review" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content" text NOT NULL, "rating" real NOT NULL, "created_at" datetime NOT NULL, "movie_id" bigint NOT NULL REFERENCES "management_movie" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED, "anonymous" bool NOT NULL, "updated_at" datetime NOT NULL);
INSERT INTO management_review VALUES(1,'Not bad !!',5.0,'2025-07-30 15:46:11.597355',1,1,0,'2025-08-18 16:11:13.740583');
INSERT INTO management_review VALUES(14,'Good Movie!!!! !',2.0,'2025-08-16 17:49:54.246721',8,2,1,'2025-08-19 11:12:40.746193');
INSERT INTO management_review VALUES(15,'Nice To watch',4.0,'2025-08-16 17:50:47.587471',8,2,0,'2025-08-16 17:50:47.587471');
CREATE TABLE IF NOT EXISTS "management_booking" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "booking_date" datetime NOT NULL, "created_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED, "showtime_id" bigint NOT NULL REFERENCES "management_showtime" ("id") DEFERRABLE INITIALLY DEFERRED, "cost" decimal NOT NULL, "status" varchar(20) NOT NULL, "attended" bool NOT NULL);
INSERT INTO management_booking VALUES(32,'2025-08-10 19:14:11.319036','2025-08-10 19:14:11.319036',2,1,60,'Confirmed',1);
INSERT INTO management_booking VALUES(33,'2025-08-11 14:47:18.477043','2025-08-11 14:47:18.477043',2,1,50,'Confirmed',1);
INSERT INTO management_booking VALUES(34,'2025-08-12 11:31:13.202163','2025-08-12 11:31:13.202163',2,3,50,'Confirmed',1);
CREATE TABLE IF NOT EXISTS "management_rateservice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "all_rating" integer unsigned NOT NULL CHECK ("all_rating" >= 0), "show_rating" integer unsigned NOT NULL CHECK ("show_rating" >= 0), "auditorium_rating" integer unsigned NOT NULL CHECK ("auditorium_rating" >= 0), "comment" text NULL, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED, "booking_id" bigint NULL REFERENCES "management_booking" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO management_rateservice VALUES(4,4,4,3,'',2,33);
INSERT INTO management_rateservice VALUES(6,4,4,4,'Very Very Good',2,32);
INSERT INTO management_rateservice VALUES(7,5,5,1,'Everything was absolutely flawless! The service was prompt and professional, the show was captivating from start to finish, and the auditorium was spotless and comfortable. A truly 5-star experience all around Γאפ IΓאשll definitely be coming back!',1,35);
CREATE TABLE IF NOT EXISTS "management_payment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "amount" decimal NOT NULL, "payment_date" datetime NOT NULL, "status" varchar(20) NOT NULL, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED, "booking_id" bigint NULL REFERENCES "management_booking" ("id") DEFERRABLE INITIALLY DEFERRED, "created_at" datetime NULL, "payment_method" varchar(50) NOT NULL);
INSERT INTO management_payment VALUES(1,50,'2025-08-17 19:13:03.832464','Completed',2,34,'2025-08-17 19:13:03.832464','Credit Card');
INSERT INTO management_payment VALUES(2,140,'2025-08-18 10:38:48.050705','Completed',2,43,'2025-08-18 10:38:48.050705','Credit Card');
INSERT INTO management_payment VALUES(3,80,'2025-08-18 10:41:22.092641','Completed',1,35,'2025-08-18 10:41:22.092641','Credit Card');
CREATE TABLE IF NOT EXISTS "management_favourite" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "added_at" datetime NOT NULL, "movie_id" bigint NOT NULL REFERENCES "management_movie" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "management_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO management_favourite VALUES(3,'2025-08-25 12:59:38.549360',3,5);
INSERT INTO management_favourite VALUES(4,'2025-08-25 13:00:19.554041',3,2);
INSERT INTO management_favourite VALUES(6,'2025-08-25 13:20:32.476056',11,2);
INSERT INTO sqlite_sequence VALUES('django_migrations',34);
INSERT INTO sqlite_sequence VALUES('django_content_type',23);
INSERT INTO sqlite_sequence VALUES('auth_permission',92);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "management_user_groups_user_id_group_id_feb3e18c_uniq" ON "management_user_groups" ("user_id", "group_id");
CREATE INDEX "management_user_groups_user_id_e433e6d4" ON "management_user_groups" ("user_id");
CREATE INDEX "management_user_groups_group_id_8e7cbab4" ON "management_user_groups" ("group_id");
CREATE UNIQUE INDEX "management_user_user_permissions_user_id_permission_id_8146bd2d_uniq" ON "management_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "management_user_user_permissions_user_id_195d266b" ON "management_user_user_permissions" ("user_id");
CREATE INDEX "management_user_user_permissions_permission_id_1cf8b5b7" ON "management_user_user_permissions" ("permission_id");
CREATE UNIQUE INDEX "management_movie_genre_movie_id_genre_id_5f6ffa49_uniq" ON "management_movie_genre" ("movie_id", "genre_id");
CREATE INDEX "management_movie_genre_movie_id_bb74501e" ON "management_movie_genre" ("movie_id");
CREATE INDEX "management_movie_genre_genre_id_4a3cf5fa" ON "management_movie_genre" ("genre_id");
CREATE INDEX "management_notification_user_id_53b49649" ON "management_notification" ("user_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "management_seat_showtime_id_8e4549cb" ON "management_seat" ("showtime_id");
CREATE UNIQUE INDEX "management_movie_actors_movie_id_actor_id_6af3fa30_uniq" ON "management_movie_actors" ("movie_id", "actor_id");
CREATE INDEX "management_movie_actors_movie_id_833408e5" ON "management_movie_actors" ("movie_id");
CREATE INDEX "management_movie_actors_actor_id_32ad7f68" ON "management_movie_actors" ("actor_id");
CREATE INDEX "management_role_actor_id_903b9e9b" ON "management_role" ("actor_id");
CREATE INDEX "management_role_movie_id_18efc295" ON "management_role" ("movie_id");
CREATE INDEX "management_auditorium_theater_id_35df61fc" ON "management_auditorium" ("theater_id");
CREATE INDEX "management_watchlist_movie_id_f3da47c1" ON "management_watchlist" ("movie_id");
CREATE INDEX "management_watchlist_user_id_8d8cf3ce" ON "management_watchlist" ("user_id");
CREATE INDEX "management_movie_director_id_c663f8c7" ON "management_movie" ("director_id");
CREATE INDEX "management_movie_producer_id_1b46c61b" ON "management_movie" ("producer_id");
CREATE INDEX "management_showtime_movie_id_0890963d" ON "management_showtime" ("movie_id");
CREATE INDEX "management_showtime_auditorium_id_0882b085" ON "management_showtime" ("auditorium_id");
CREATE UNIQUE INDEX "management_booking_seats_booking_id_seat_id_449086ce_uniq" ON "management_booking_seats" ("booking_id", "seat_id");
CREATE INDEX "management_booking_seats_booking_id_55c0a87f" ON "management_booking_seats" ("booking_id");
CREATE INDEX "management_booking_seats_seat_id_323910d9" ON "management_booking_seats" ("seat_id");
CREATE INDEX "management_review_movie_id_ef53e8b6" ON "management_review" ("movie_id");
CREATE INDEX "management_review_user_id_d10cdda8" ON "management_review" ("user_id");
CREATE INDEX "management_booking_user_id_b665414c" ON "management_booking" ("user_id");
CREATE INDEX "management_booking_showtime_id_c711dd77" ON "management_booking" ("showtime_id");
CREATE INDEX "management_rateservice_user_id_ddd1b05e" ON "management_rateservice" ("user_id");
CREATE INDEX "management_rateservice_booking_id_4c84b917" ON "management_rateservice" ("booking_id");
CREATE INDEX "management_payment_user_id_5c16a93b" ON "management_payment" ("user_id");
CREATE INDEX "management_payment_booking_id_dc22088c" ON "management_payment" ("booking_id");
CREATE INDEX "management_favourite_movie_id_c0f418d3" ON "management_favourite" ("movie_id");
CREATE INDEX "management_favourite_user_id_3b10b241" ON "management_favourite" ("user_id");
COMMIT;
