.director-details {
  background: var(--clr-card-bg);
  color: var(--clr-text);
  padding: var(--gap-lg);
  margin: var(--gap-md);
  border-radius: var(--radius-md);
}

.director-details h2 {
  font-size: 1.75rem;
  color: var(--clr-primary);
  margin-bottom: var(--gap-sm);
}

.director-details p {
  font-size: 1rem;
  margin-bottom: var(--gap-sm);
}
.director-details .director-movie {
  color: var(--clr-accent);
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
}
.director-details .director-movie:hover {
  text-decoration: underline;
}