.navbar {
  display: flex;
  align-items: center;
  padding: var(--gap-md) var(--gap-lg);
  background: var(--clr-primary);
}

/* brand link on the left */
.navbar .navbar-link {
  font-size: var(--fs-md);
  text-decoration: none;
  color: var(--clr-text-light);
  margin-right: var(--gap-md);
  margin-left: 2rem;
}

/* wrapper for all the other links */
.navbar .navbar-links {
  display: flex;
  align-items: center;
  gap: var (--gap-md);
  /* if you want them pushed to the right: */
  margin-left: auto;
}

.navbar a:hover {
  text-decoration: underline;
}

