/* src/styles/UserWatchlist.css */
@import './theme.css';

.user-watchlist {
  background: var(--clr-card-bg);
  color: var(--clr-text);
  padding: var(--gap-md);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow);
  max-width: fit-content;
  margin: var(--gap-lg) auto;
}

.user-watchlist h2 {
 font-size: var(--fs-lg);
  margin-bottom: var(--gap-sm);
}

.user-watchlist ul {
  list-style: none;
  padding: 0;
}

.user-watchlist li {
 margin-bottom: var(--gap-sm);
  padding: var(--gap-sm);
  border-bottom: 1px solid var(--clr-border);
}

.user-watchlist li:last-child {
  border-bottom: none;
}

.user-watchlist a {
  color: var(--clr-primary);
  font-weight: 600;
  text-decoration: none;
}

.user-watchlist a:hover {
    background: var(--clr-hover-bg);

}

.user-watchlist button {
   background: var(--clr-primary);
  color: var(--clr-text-light);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: background 0.3s;
  text-align: right;
}
.user-watchlist button:hover {
  background: bisque;
}